<div class="category__wrapper">
 <section class="category col-md-4 col-sm-12" id="category-community_organizer">
   <h3 class="category__title">Community Organizer</h3>
   <p class="category__description">Set down the most Lure Modules at the Pok&eacute;stop nearest Gaslight's office</p>
   <ul class="contest-rankings">
   <% lure_ranking.each do |trainer| %>
     <% if trainer.team == "Squirtle Squad" %>
       <div class="blue scoremarker">
     <% elsif trainer.team == "Bulbasaur Bunch" %>
       <div class="green scoremarker">
     <% elsif trainer.team == "Charmander Club" %>
       <div class="red scoremarker">
     <% else %>
        <div class="yellow scoremarker">
     <% end %>
         <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= trainer.comp_stats.lure_modules - trainer.initial_stats.lure_modules %></span></h4>
       </div>
   <% end %>
   </ul>
 </section>

 <section class="category col-md-4 col-sm-12" id="category-collector">
   <h3 class="category__title">Collector</h3>
   <p class="category__description">Has the highest number of Pok&eacute;mon in their Pok&eacute;dex</p>
   <ul class="contest-rankings">
   <% unique_ranking.each do |trainer| %>
     <% if trainer.team == "Squirtle Squad" %>
       <div class="blue scoremarker">
     <% elsif trainer.team == "Bulbasaur Bunch" %>
       <div class="green scoremarker">
     <% elsif trainer.team == "Charmander Club" %>
       <div class="red scoremarker">
     <% else %>
        <div class="yellow scoremarker">
     <% end %>
         <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= trainer.comp_stats.unique_pokemon - trainer.initial_stats.unique_pokemon %></span></h4>
       </div>
   <% end %>
   </ul>
 </section>

 <section class="category col-md-4 col-sm-12" id="category-distance">
   <h3 class="category__title">Going the Distance</h3>
   <p class="category__description">Has the most walking clocked to their Pokemon Go app</p>
   <ul class="contest-rankings">
   <% km_ranking.each do |trainer| %>
     <% if trainer.team == "Squirtle Squad" %>
       <div class="blue scoremarker">
     <% elsif trainer.team == "Bulbasaur Bunch" %>
       <div class="green scoremarker">
     <% elsif trainer.team == "Charmander Club" %>
       <div class="red scoremarker">
     <% else %>
        <div class="yellow scoremarker">
     <% end %>
         <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= (trainer.comp_stats.km_walked - trainer.initial_stats.km_walked).round(2) %></span></h4>
       </div>
   <% end %>
   </ul>
 </section>

</div>
<div class="category__wrapper">
 <section class="category col-md-4 col-sm-12" id="category-magikarp">
   <h3 class="category__title">More Fish in the Sea</h3>
   <p class="category__description">Has the highest number of Magikarp candies (you'll get to Gyarados eventually)</p>
   <ul class="contest-rankings">
   <% magikarp_ranking.each do |trainer| %>
     <% if trainer.team == "Squirtle Squad" %>
       <div class="blue scoremarker">
     <% elsif trainer.team == "Bulbasaur Bunch" %>
       <div class="green scoremarker">
     <% elsif trainer.team == "Charmander Club" %>
       <div class="red scoremarker">
     <% else %>
        <div class="yellow scoremarker">
     <% end %>
         <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= trainer.comp_stats.magikarp_candy - trainer.initial_stats.magikarp_candy %></span></h4>
       </div>
   <% end %>
 </section>


 <section class="category col-md-4 col-sm-12" id="category-eggs">
   <h3 class="category__title">Gotta Hatch 'Em All</h3>
   <p class="category__description">Has hatched the most eggs<br/></p>
   <ul class="contest-rankings">
   <% egg_ranking.each do |trainer| %>
     <% if trainer.team == "Squirtle Squad" %>
       <div class="blue scoremarker">
     <% elsif trainer.team == "Bulbasaur Bunch" %>
       <div class="green scoremarker">
     <% elsif trainer.team == "Charmander Club" %>
       <div class="red scoremarker">
     <% else %>
        <div class="yellow scoremarker">
     <% end %>
         <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= trainer.comp_stats.eggs_hatched - trainer.initial_stats.eggs_hatched %></span></h4>
       </div>
   <% end %>
   </ul>
 </section>

 <section class="category col-md-4 col-sm-12" id="category-gyms">
   <h3 class="category__title">Gym Rat</h3>
   <p class="category__description">Has won battles and trained the most times in a gym</p>
   <ul class="contest-rankings">
   <% battle_ranking.each do |trainer| %>
     <% if trainer.team == "Squirtle Squad" %>
       <div class="blue scoremarker">
     <% elsif trainer.team == "Bulbasaur Bunch" %>
       <div class="green scoremarker">
     <% elsif trainer.team == "Charmander Club" %>
       <div class="red scoremarker">
     <% else %>
        <div class="yellow scoremarker">
     <% end %>
         <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= trainer.comp_stats.battles_won - trainer.initial_stats.battles_won %></span></h4>
       </div>
   <% end %>
   </ul>
 </section>
</div>

<div class="category__wrapper category__wrapper--two-item">
  <section class="category col-md-4 col-sm-12" id="category-catch">
    <h3 class="category__title">Hoarder</h3>
    <p class="category__description">Has caught the most Pok&eacute;mon</p>
    <ul class="contest-rankings">
    <% catch_ranking.each do |trainer| %>
      <% if trainer.team == "Squirtle Squad" %>
        <div class="blue scoremarker">
      <% elsif trainer.team == "Bulbasaur Bunch" %>
        <div class="green scoremarker">
      <% elsif trainer.team == "Charmander Club" %>
        <div class="red scoremarker">
      <% else %>
         <div class="yellow scoremarker">
      <% end %>
          <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= trainer.comp_stats.num_caught - trainer.initial_stats.num_caught %></span></h4>
        </div>
    <% end %>
    </ul>
  </section>

  <section class="category col-md-4 col-sm-12" id="category-evolution">
    <h3 class="category__title">Biologist</h3>
    <p class="category__description">Has evolved the most Pok&eacute;mon</p>
    <ul class="contest-rankings">
    <% evolution_ranking.each do |trainer| %>
      <% if trainer.team == "Squirtle Squad" %>
        <div class="blue scoremarker">
      <% elsif trainer.team == "Bulbasaur Bunch" %>
        <div class="green scoremarker">
      <% elsif trainer.team == "Charmander Club" %>
        <div class="red scoremarker">
      <% else %>
         <div class="yellow scoremarker">
      <% end %>
          <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= trainer.comp_stats.pokemon_evolved - trainer.initial_stats.pokemon_evolved %></span></h4>
        </div>
    <% end %>
    </ul>
  </section>
</div>
