<% # <Casual Ruby-ing because I'm a monster

  catch_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.num_caught - a.initial_stats.num_caught)]}
  km_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.km_walked - a.initial_stats.km_walked)]}
  battle_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.battles_won - a.initial_stats.battles_won)]}
  magikarp_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.magikarp_candy - a.initial_stats.magikarp_candy)]}
  lure_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.lure_modules - a.initial_stats.lure_modules)]}
  egg_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.eggs_hatched - a.initial_stats.eggs_hatched)]}
  unique_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.unique_pokemon - a.initial_stats.unique_pokemon)]}
  evolution_ranking = data.trainers.trainer.sort_by {|a| [-(a.comp_stats.pokemon_evolved - a.initial_stats.pokemon_evolved)]}

  catch_shortlist = catch_ranking.first(3)
  km_shortlist = km_ranking.first(3)
  battle_shortlist = battle_ranking.first(3)
  magikarp_shortlist = magikarp_ranking.first(3)
  lure_shortlist = lure_ranking.first(3)
  egg_shortlist = egg_ranking.first(3)
  unique_shortlist = unique_ranking.first(3)
  evolution_shortlist = evolution_ranking.first(3)


  catch_tophalf = catch_ranking.first(data.trainers.trainer.length/2)
  km_tophalf = km_ranking.first(data.trainers.trainer.length/2)
  battle_tophalf = battle_ranking.first(data.trainers.trainer.length/2)
  magikarp_tophalf = magikarp_ranking.first(data.trainers.trainer.length/2)
  lure_tophalf = lure_ranking.first(data.trainers.trainer.length/2)
  egg_tophalf = egg_ranking.first(data.trainers.trainer.length/2)
  unique_tophalf = lure_ranking.first(data.trainers.trainer.length/2)
  evolution_tophalf = egg_ranking.first(data.trainers.trainer.length/2)

  master_tophalf = [catch_tophalf, km_tophalf, battle_tophalf, magikarp_tophalf, lure_tophalf, egg_tophalf, evolution_tophalf, unique_tophalf]

  master_shortlist = [catch_shortlist, km_shortlist, battle_shortlist, magikarp_shortlist, lure_shortlist, egg_shortlist, evolution_shortlist, unique_shortlist]

  squirtle_score = 0
  bulbasaur_score = 0
  pikachu_score = 0
  charmander_score = 0

  # Scoring Loop for Placing

  for i in 0..7
    points = 15
    for j in 0..2
      if master_shortlist[i][j].team == "Squirtle Squad"
        squirtle_score = squirtle_score + points
        points = points - 5
      elsif master_shortlist[i][j].team == "Bulbasaur Bunch"
        bulbasaur_score = bulbasaur_score + points
        points = points - 5
      elsif master_shortlist[i][j].team == "Charmander Club"
        charmander_score = charmander_score + points
        points = points - 5
      else
        pikachu_score = pikachu_score + points
        points = points - 5
      end
    end
  end

  # Scoring Loop for Top 50%

  # for i in 0..7
  #   for j in 0..2
  #     if master_shortlist[i][j].team == "Squirtle Squad"
  #       squirtle_score = squirtle_score + 3
  #     elsif master_shortlist[i][j].team == "Bulbasaur Bunch"
  #       bulbasaur_score = bulbasaur_score + 3
  #     elsif master_shortlist[i][j].team == "Charmander Club"
  #       charmander_score = charmander_score + 3
  #     else
  #       pikachu_score = pikachu_score + 3
  #     end
  #   end
  # end

%>
<!-- End Casual Rubying -->



<div class="category__wrapper">
 <section class="category col-md-4 col-sm-12" id="category-community_organizer">
   <h3 class="category__title">Community Organizer</h3>
   <p class="category__description">Set down the most Lure Modules at the Pok&eacute;stop nearest Gaslight's office</p>
   <ul class="contest-rankings">
   <% lure_ranking.each do |trainer| %>
     <% if trainer.team == "Squirtle Squad" %>
       <div class="blue scoremarker">
     <% elsif trainer.team == "Bulbasaur Bunch" %>
       <div class="green scoremarker">
     <% elsif trainer.team == "Charmander Club" %>
       <div class="red scoremarker">
     <% else %>
        <div class="yellow scoremarker">
     <% end %>
         <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= trainer.comp_stats.lure_modules - trainer.initial_stats.lure_modules %></span></h4>
       </div>
   <% end %>
   </ul>
 </section>

 <section class="category col-md-4 col-sm-12" id="category-collector">
   <h3 class="category__title">Collector</h3>
   <p class="category__description">Has the highest number of Pok&eacute;mon in their Pok&eacute;dex</p>
   <ul class="contest-rankings">
   <% unique_ranking.each do |trainer| %>
     <% if trainer.team == "Squirtle Squad" %>
       <div class="blue scoremarker">
     <% elsif trainer.team == "Bulbasaur Bunch" %>
       <div class="green scoremarker">
     <% elsif trainer.team == "Charmander Club" %>
       <div class="red scoremarker">
     <% else %>
        <div class="yellow scoremarker">
     <% end %>
         <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= trainer.comp_stats.unique_pokemon - trainer.initial_stats.unique_pokemon %></span></h4>
       </div>
   <% end %>
   </ul>
 </section>

 <section class="category col-md-4 col-sm-12" id="category-distance">
   <h3 class="category__title">Going the Distance</h3>
   <p class="category__description">Has the most walking clocked to their Pokemon Go app</p>
   <ul class="contest-rankings">
   <% km_ranking.each do |trainer| %>
     <% if trainer.team == "Squirtle Squad" %>
       <div class="blue scoremarker">
     <% elsif trainer.team == "Bulbasaur Bunch" %>
       <div class="green scoremarker">
     <% elsif trainer.team == "Charmander Club" %>
       <div class="red scoremarker">
     <% else %>
        <div class="yellow scoremarker">
     <% end %>
         <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= (trainer.comp_stats.km_walked - trainer.initial_stats.km_walked).round(2) %></span></h4>
       </div>
   <% end %>
   </ul>
 </section>

</div>
<div class="category__wrapper">
 <section class="category col-md-4 col-sm-12" id="category-magikarp">
   <h3 class="category__title">More Fish in the Sea</h3>
   <p class="category__description">Has the highest number of Magikarp candies (you'll get to Gyarados eventually)</p>
   <ul class="contest-rankings">
   <% magikarp_ranking.each do |trainer| %>
     <% if trainer.team == "Squirtle Squad" %>
       <div class="blue scoremarker">
     <% elsif trainer.team == "Bulbasaur Bunch" %>
       <div class="green scoremarker">
     <% elsif trainer.team == "Charmander Club" %>
       <div class="red scoremarker">
     <% else %>
        <div class="yellow scoremarker">
     <% end %>
         <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= trainer.comp_stats.magikarp_candy - trainer.initial_stats.magikarp_candy %></span></h4>
       </div>
   <% end %>
 </section>


 <section class="category col-md-4 col-sm-12" id="category-eggs">
   <h3 class="category__title">Gotta Hatch 'Em All</h3>
   <p class="category__description">Has hatched the most eggs<br/></p>
   <ul class="contest-rankings">
   <% egg_ranking.each do |trainer| %>
     <% if trainer.team == "Squirtle Squad" %>
       <div class="blue scoremarker">
     <% elsif trainer.team == "Bulbasaur Bunch" %>
       <div class="green scoremarker">
     <% elsif trainer.team == "Charmander Club" %>
       <div class="red scoremarker">
     <% else %>
        <div class="yellow scoremarker">
     <% end %>
         <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= trainer.comp_stats.eggs_hatched - trainer.initial_stats.eggs_hatched %></span></h4>
       </div>
   <% end %>
   </ul>
 </section>

 <section class="category col-md-4 col-sm-12" id="category-gyms">
   <h3 class="category__title">Gym Rat</h3>
   <p class="category__description">Has won battles and trained the most times in a gym</p>
   <ul class="contest-rankings">
   <% battle_ranking.each do |trainer| %>
     <% if trainer.team == "Squirtle Squad" %>
       <div class="blue scoremarker">
     <% elsif trainer.team == "Bulbasaur Bunch" %>
       <div class="green scoremarker">
     <% elsif trainer.team == "Charmander Club" %>
       <div class="red scoremarker">
     <% else %>
        <div class="yellow scoremarker">
     <% end %>
         <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= trainer.comp_stats.battles_won - trainer.initial_stats.battles_won %></span></h4>
       </div>
   <% end %>
   </ul>
 </section>
</div>

<div class="category__wrapper category__wrapper--two-item">
  <section class="category col-md-4 col-sm-12" id="category-catch">
    <h3 class="category__title">Hoarder</h3>
    <p class="category__description">Has caught the most Pok&eacute;mon</p>
    <ul class="contest-rankings">
    <% catch_ranking.each do |trainer| %>
      <% if trainer.team == "Squirtle Squad" %>
        <div class="blue scoremarker">
      <% elsif trainer.team == "Bulbasaur Bunch" %>
        <div class="green scoremarker">
      <% elsif trainer.team == "Charmander Club" %>
        <div class="red scoremarker">
      <% else %>
         <div class="yellow scoremarker">
      <% end %>
          <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= trainer.comp_stats.num_caught - trainer.initial_stats.num_caught %></span></h4>
        </div>
    <% end %>
    </ul>
  </section>

  <section class="category col-md-4 col-sm-12" id="category-evolution">
    <h3 class="category__title">Biologist</h3>
    <p class="category__description">Has evolved the most Pok&eacute;mon</p>
    <ul class="contest-rankings">
    <% evolution_ranking.each do |trainer| %>
      <% if trainer.team == "Squirtle Squad" %>
        <div class="blue scoremarker">
      <% elsif trainer.team == "Bulbasaur Bunch" %>
        <div class="green scoremarker">
      <% elsif trainer.team == "Charmander Club" %>
        <div class="red scoremarker">
      <% else %>
         <div class="yellow scoremarker">
      <% end %>
          <h4 class="scoremarker__team-label"><%= trainer.name %> <span class="scoremarker__metric"><%= trainer.comp_stats.pokemon_evolved - trainer.initial_stats.pokemon_evolved %></span></h4>
        </div>
    <% end %>
    </ul>
  </section>
</div>
