<section id="teams">
  <div class="container">
    <div class="col-xs-12">
      <h2 style="margin-bottom: 20px;">Scoreboard</h2>
      <div class="container">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="scoremarker__row">
            <span class="scoremarker__score blue"><%= score :squirtle %></span>
            <div class="blue scoremarker">
              <h4 class="scoremarker__team-label">Squirtle Squad</h4>
            </div>
            <ul class="team-list">
              <% data.trainers.trainer.each do |trainer| %>
                <% if trainer.team == "Squirtle Squad" %>
                  <li class="team-list__item"><strong><%= trainer.name %></strong> <span class="light">(<%= trainer.handle %>)</span></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="scoremarker__row">
            <span class="scoremarker__score red"><%= score :charmander %></span>
            <div class="red scoremarker">
              <h4 class="scoremarker__team-label">Charmander Club</h4>
            </div>
            <ul class="team-list">
              <% data.trainers.trainer.each do |trainer| %>
                <% if trainer.team == "Charmander Club" %>
                  <li class="team-list__item"><strong><%= trainer.name %></strong> <span class="light">(<%= trainer.handle %>)</span></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="scoremarker__row">
            <span class="scoremarker__score green"><%= score :bulbasaur %></span>
            <div class="green scoremarker">
              <h4 class="scoremarker__team-label">Bulbasaur Bunch</h4>
            </div>
            <ul class="team-list">
              <% data.trainers.trainer.each do |trainer| %>
                <% if trainer.team == "Bulbasaur Bunch" %>
                  <li class="team-list__item"><strong><%= trainer.name %></strong> <span class="light">(<%= trainer.handle %>)</span></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="scoremarker__row">
            <span class="scoremarker__score yellow"><%= score :pikachu %></span>
            <div class="yellow scoremarker">
              <h4 class="scoremarker__team-label">Pikachu Posse</h4>
            </div>
            <ul class="team-list">
              <% data.trainers.trainer.each do |trainer| %>
                <% if trainer.team == "Pikachu Posse" %>
                  <li class="team-list__item"><strong><%= trainer.name %></strong> <span class="light">(<%= trainer.handle %>)</span></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
