---
title: Gaslight League: Current Rankings
---
<%= partial "layouts/header" %>

<section id="how-it-works">
  <div class="container">
    <div class="col-xs-12">
      <h2>Welcome Trainers!</h2>
      <p class="rules" style="margin-bottom: 20px;">
        <span style="display: block; margin-top: 5px; clear: both;">
        Enter your updated metrics in the <a href="https://docs.google.com/a/gaslight.co/spreadsheets/d/1YFTyfYoaTzJQI5RQI0et02u3eo5QCht3K0gExtqqAQ8/edit?usp=sharing">Daily Stats Spreadsheet</a>! Should update at the end of each weekday.
        </span>
        <span style="display: block; margin-top: 5px; clear: both;">
        <strong>Last Update:</strong> July 25, 11:15AM EST
        </span>
      </p>
    </div>
  </div>
</section>

<%= partial "layouts/teams" %>

<section id="categories">
  <div class="container">
    <div class="col-xs-12">
      <h2 style="margin-bottom: 20px;">Categories</h2>
    </div>
    <div id="rank-toggle">
      <div class="toggle-box">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active" for="small-ranking">
            <input type="radio" name="options" id="small-ranking" autocomplete="off"> Top 3
          </label>
          <label class="btn btn-primary" for="large-ranking">
            <input type="radio" name="options" id="large-ranking" autocomplete="off" checked> Full List
          </label>
        </div>
      </div>
      <div class="small-ranking__container">
        <%= partial "layouts/contest" %>
      </div>
      <div class="large-ranking__container">
        <%= partial "layouts/contest-expanded" %>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-9 col-sm-offsest-2 col-xs-10 col-xs-offset-1">
      <p style="color: white; text-align: center; font-style: italic; padding: 30px 0 20px 0;">Lovingly crafted by <%= link_to 'Lauren', 'https://github.com/lwoodrick', :relative => false %>.</p>
    </div>
  </div>
</footer>
